body{
font-family: "Times New Roman", serif;
background-color: #F2FFFC;
text-align: justify;
 }

 h1, h2{
     font-family: "Open Sans Condensed", sans-serif;
 }

 h1{
     text-align: center;
     background-color: #851944;
     color: #FFF;
     font-size: 60px; 
 }

 h2{
     font-size: 40px;
 }

 p{
     font-family: "Crimson Text", serif;
     text-align: justify;
 }